*.idea
practice_file.py
map,lambda,filter.py
generator.py
class.py
*.zip
chapter3/mysql_practice.py
chapter4(regex)/get_email.py
chapter4(regex)/regex(classwork).py
chapter4(regex)/request_prac.py
first_project_django/
advanced_python_course_maktabkhoone/
all_cars.csv